.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* ^ what this does it creates a set number of columns. The auto-fill means that the css grid system is going to automatically decide how many columns to insert. Second argument means that each one of those different columns is going to be at minimum 250px wide and  1fr means maximum allocation of space meaning every column will all be equally sized*/

  grid-gap: 10px;
  grid-auto-rows: 150px;
}


.image-list img {
  width: 250px;
}